openapi: 3.0.3
info:
  title: I_Audit_Event_Render
  description: |
    **Prerequisites**:</br>
    The Health Record System shall provide 
    - name
    - role ((profession-)oid)
    - identifier (telematik-id or KVNR)
    - indication of a valid entitlement 
    of the current user (requestor) for evaluation in operations.

    Operations mandating a valid entitlement implicitly mandate use of a VAU channel
    and a valid ID-Token. If one of these conditions is not met, the response
    of the (aborted) operation shall always be '403': 'notEntitled'. 

    **Retry interval**:</br>
    The following retry intervals are suggested in case of an error response:<br>
    - '409' Conflict (statusMismatch).
      - approx. 24 hours
    - '500' Internal Error
      - approx. 10 minutes

    **User Agent**:</br>
    The user agent information (x-useragent) is part of any request, even if 
    not essentially required for the operation (e.g. raw-data collection), and
    may be considered for provider internal use. 

    **Log Entries**
    Whenever a _Postcondition_ mandates a log entry, this entry shall contain
    data as defined in A_24991*.

  contact:
    name: gematik GmbH
    url: 'https://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 1.1.1

  # version history:
  # ----------------
  # version 1.1.1
  #   - changed format for PDF response
  # version 1.1.0
  #   - rename Api
  #   - add option to receive signed or unsigned PDF
  #   - add ombuds office to allowed users
  # version 1.0.0
  #   - first release version
  # version 0.0.1
  #   - initial version for review

servers:
- url: https://epa-hst1.prod.epa4all.de

tags:
- name: PDF/A
  description: Generate a list of audit events as PDF/A (signed or unsigned)

paths:
  /epa/audit/render/v1/pdf:
    parameters:
      - $ref: '#/components/parameters/insurantid'
      - $ref: '#/components/parameters/useragent'
    get:
      tags:
      - PDF/A
      operationId: renderAuditEventsToPDF
      summary: "Returns a PDF/A file of all audit events in a human-readable format."
      description: |
        The Audit Event Service **SHALL** return the list of all AuditEvent entries (i.e. FHIR resources) 
        as a PDF/A file which shall be one of the allowed formats (A_25233*). 

        The PDF/A **SHALL** be signed if parameter _signed_ is _true_. The signature key **SHALL** correspond 
        to the issuer identity ID.FD.SIG. The associated certificate profile C.FD.SIG MUST contain the role "oid_epa_logging".
        
        **Allowed user groups [professionOID]**
        - oid_ombudsstelle
        - oid_versicherter

        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 |||
        | Requestor has no valid entitlement | 403 | notEntitled ||
        | Requestor role is not in the list of allowed user groups | 403 | invalidOid ||
        | Health record is not in state ACTIVATED | 409 | statusMismatch | (see 'Retry interval') |
        | Any other error | 500 | internalError | (see 'Retry interval') |

         </br>
        | Postconditions                        | Remarks |
        |---------------------------------------|---------|
        | A log entry for the operation exists | representative and ombuds office only, all operation results |

      parameters:
        - $ref: '#/components/parameters/signed'
      responses:
        "200":
          description: Success
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              example: Signed PDF/A file
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'


components:
  responses:
    Error403Forbidden:
      description: Forbidden.
      content:
        application/json:
          examples:
            notEntitled:
              summary: Requestor has no valid entitlement
              value:
                errorCode: notEntitled
            invalidOid:
              summary: Requestor role is not in the list of allowed usergroups
              value:
                errorCode: invalidOid

          schema:
            $ref: '#/components/schemas/ErrorType'
    Error409Conflict:
      description: Conflict.
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error500InternalError:
      description: Internal Server Error
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  parameters:
    insurantid:
      name: x-insurantid
      in: header
      description: Health Record Identifier.
      required: true
      schema:
        $ref: '#/components/schemas/InsurantIdType'
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: true
      schema:
        $ref: '#/components/schemas/UserAgentType'
    signed:
      name: signed
      in: query
      description: Request signed PDF/A (true) or unsigned PDF/A (false)
      required: false
      schema:
        type: boolean
        default: false
        

  schemas:
    InsurantIdType:
      type: string
      description: |-
        The health record identifier. 
        For today the record identifier equals the insurant id (KVNR). The record identifier does not include any home community id.
      pattern: '^[A-Z]{1}\d{9}$'
      example: Z123456789
    UserAgentType:
      description: "Information about client software with: ClientId(20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9]{20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
    ErrorType:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
