openapi: 3.0.1
info:
  title: I_Information_Service_Accounts
  description: |-
    This interface provides operations for either health record relocation or health record merge
    among different Electronic Health Record System providers.<br/>

    **General conditions**:</br> 
    For all operations if applicable:
    - a section _Client_ in operation descriptions covers recommendations (informative) for clients.
    - a section _Provider_ in operation descriptions covers requirements for the server side. 

    **Prerequisites**:</br>
    This interface does not require a VAU channel/ user session or entitlements but a mutual 
    TLS connection instead.

    **Retry interval**:</br>
    Operation responses '409' Conflict and '500' Internal Error indicate temporary states.
    A retry may apply after a suitable period of waiting time. 

    **Request ID**:</br>
    Clients may provide a unique request identifier (X-Request-ID) with each request. 
    Given such a request identifier, providers must 
    - echo the exact same X-Request-ID value in the response header.
    - log the X-Request-ID in all operational logs related to that request.

    This _X-Request-ID_ for monitoring purposes should not be confused with the _requestId_
    used to identify relocation- or merge-sessions! 

  version: 1.8.0

  # version history:
  # ----------------
  # version 1.8.0
  #   - added relocationRejected incident for postPackageDeliveryIncident to cover business rejections of relocation requests by exporting providers
  #   - added mergeRejected incident for postMergePackageDeliveryIncident to cover business rejections of merge requests by exporting providers
  # version 1.7.0
  #   - append identification of requesting health record system in startRelocation and startMerge
  #   - renamed merge incidents
  #   - added missing X-Request-ID to all responses
  # version 1.6.0
  #   - added operation getHealthRecordState
  #   - corrections in deleteExportPackage description to consider the new operation startre
  #   - editorial corrections (removed obsolete comments and doubled descriptions)
  # version 1.5.0
  #   - added operations for merge package exchange
  #   - editorial change: moved requestid (process identifier) to components section for separation from x-requestid (monitoring)
  # version 1.4.0
  #   - renamed all occurrences of state MAINTENANCE to INACCESSIBLE
  #   - added new status codes in getGeneralConsentDecision
  #   - improved description for startRelocation
  #   - improved description for deleteExportPackage
  #   - bugfix: added X-Request-ID to responses where missing
  # version 1.3.2
  #   - added status- and error code for state MAINTENANCE
  # version 1.3.1
  #   - clarification about condition for 404 noHealthRecord and 409 statusMismatch
  # version 1.3.0
  #   - mandatory X-Request-ID in all requests and responses
  #   - added isPrivateInsurance boolean to response of getProviderList
  # version 1.2.0
  #   - changed http-statuscode in operation postExportPackageIncident, putDownloadUrlForExportPAckage and postPackageDeliveryIncident to 204
  # version 1.1.2
  #   - bugfix for change in version 1.1.1 - added required statuscode 400 for response
  # version 1.1.2
  #   - added timestamp in response of getGeneralConsentDecision
  # version 1.1.1
  #   - changed path parameter insurantid to header parameter x-insurantid
  # version 1.1.0
  #   - changed http-statuscode in operation postExportPackageIncident, putDownloadUrlForExportPAckage and postPackageDeliveryIncident to 201
  # version 1.0.1
  #   - bugfixes
  # version 1.0.0
  #   - first release version
  # version 0.0.1
  #   - initial version for review

  contact:
    name: gematik GmbH
    url: 'http://www.gematik.de'
  
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"

servers:
  - url: https://epa-hst1.prod.epa4all.de/api

tags:
  - name: Account Management          
    description: |
     This OpenApi provides operations for: 

     **Health Record Relocation**:<br>
     This is the process of transfering data of an existing health record from one health record system to 
     another health record system. This is a usual process used when an insurant changes the insurance and includes 
     the steps:
     - suspend the source record to protect content form further changes
     - collect all content of the record in a single package for transfer
     - provide the package for download
     - download package and take over content into a new record hosted by the new health record system
     - confirm the successful take over, schedule suspended record for deletion and activate the new record for regular usage.

     The required operations follow below, separated for exporting and importing provider involved in the process. Additional operations
     used in the process and required to prepare the package are defined in I_Health_Record_Relocation_Service.

     **Health Record Merge**<br>
     This is also a process of data transfer of an existing health record from one health record system to 
     another but deviating from the relocation process for the purpose of data integration (merge) into 
     an _existing_ health record of the same insurant. This is used in scenarios where data spread across 
     multiple instances of a health record of an insurant shall be recovered in one record. The process is similar to a relocation but does require 
     special preconditions for the record and does not automatically change any state of a reocrd:
     - set the source record into a state exculsively for a merge process by proprietary means
     - collect all content of the record in a single package for transfer
     - provide the package for download
     - download package and integrate content into a new record hosted by the new health record system
     - confirm the successful merge (optional: schedule source record for deletion)

     The required operations follow below, separated for merge provider and merger involved in the process. Additional operations
     required to prepare the package are defined in I_Health_Record_Relocation_Service.

  - name: Relocation (exporting provider)
    description: |
     **Health Record Relocation - export**<br>
     The _exporting provider_ stands for the insurance company ('**old insurance**') actually hosting the health record 
     of an insurant who changes to a different insurance company ('new insurance').

     The _exporting provider_ is associated to the operations in path _accounts/../exportpackagegeneration_     
     
     Receive requests for preparation of export packages for download and 
     receive relocation result notifications.</br>
     The operations do not involve a VAU or health record access but depends on 
     a mutual authorized TLS connection between health record system providers. 

  - name: Relocation (importing provider)
    description: |
     **Health Record Relocation - import**<br>
     The _importing provider_ stands for the insurance company ('**new insurance**') an insurant moves to from
     a different insurance company ('old insurance')
      
     The _importing provider_ is associated to the operations in path _accounts/../exportpackagedelivery_     
     
     Receive the url of prepared export packages.</br>
     The operations do not involve a VAU or health record access but depends on 
     a mutual authorized TLS connection between health record system providers. 
     
  - name: Merge (merge provider)
    description: |
     **Health Record Merge**<br>
     The _**merge provider**_ is the insurance providing the data for a merge and is associated
     to the operations in path _accounts/../mergepackagegeneration_. 
     
     
  - name: Merge (merger)
    description: |
     **Health Record Merge**<br>
     The _**merger**_ is the insurance receiving and merging the data of a health record and is associated to the operations
     in path _accounts/../mergepackagedelivery_.. 

  - name: Account check
    description: |   
     Determines the health record state for a KVNR. The check is conducted across the entire health record system and also takes
     existing and potentially differing states for different insurances into account.   

  - name: ProviderList
    description: |
     Retrieve list of hosted insurances and FQDNs from other health record systems. 

# --- operations for relocation of an export package ---
paths:
  /information/api/v1/accounts/consent:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
      tags:
        - Relocation (exporting provider)
      operationId: getGeneralConsentDecision
      summary: (getGeneralConsentDecision) Get consent decision regarding objection against principle health record provision.
      description: |
       Checks whether a specific KVNR (_insurantId_) is known among the insurances of a health record provider 
       and retrieves the consent decision regarding the general use of a personal health record.

       **Client**  
       A client (a health record system) shall always invoke this operation just before a new health 
       record is to be activated on client side to retrieve the information about a general objection of 
       the insurant against the provision of a personal health record.
       
       Since the request to relocate health record data must be based on the most up-to-date information, 
       this operation should be executed immediately before a potential invocation of _startRelocation_ to 
       relocate health record data. A client shall not start a relocation if returned information is inconsistent.

       **Provider**  
       Indicates in the response the state and timestamp of the consent decision regarding the principle usage of 
       a personal health record associated to a particular insurant (kvnr). 
       The operation should be independent of the presence of a health record associated to the kvnr.

       If no consent information is applicable or not available at all but the kvnr is known and hosted by the provider, 
       status code '204' shall be used for the response. A health record may exist in this case.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | Successful operation without consent information| 204 || consent not applicable |
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | KVNR (insurant) unknown | 404 | noResource | _insurantid_ unknown |
       | contradictonary information available | 409 | informationMismatch | inconsistent local data, no information available |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | none ||

      responses:
        '200':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              examples: 
                NoObjectionToUseOfHealthRecord:
                  value:
                    generalConsent: true
                    generalConsentSince: 2025-12-24T20:00:00Z
                ObjectionToUseOfHealthRecord:
                  value:
                    generalConsent: false
                    generalConsentSince: 2025-12-25T21:00:00Z
              schema:
                $ref: '#/components/schemas/ConsentType'
        '204':
          description: Ok, no data.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          description: Conflict.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              example:
                errorCode: informationMismatch

        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/exportpackagegeneration:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
      tags:
        - Relocation (exporting provider)
      operationId: startRelocation
      summary: (startRelocation) Initiate export package preparation for download
      description: |
       Starts a new health record relocation process and initiates the preparation of an export package 
       in case the requested health record exists. A _requestId_ for reference is returned.

       **Client**  
       A client shall use this function before activation (record state ACTIVATED) of the health record to import 
       contents of an existing health record from another provider. 

       Before calling _startRelocation_, the client shall invoke the _getGeneralConsentDecision_ 
       operation **immediately before** _startRelocation_ to ensure the relocation decision is based 
       on the latest consent status.

       **Provider**  
       Creates a requestId in case the addressed health record exists and is in state ACTIVATED.
       A health record in state SUSPENDED has an already prepared export package which shall not 
       be created twice.  
      
       The health record export package generation shall be initialized by passing the _requestId_ 
       to the responsible actors (insurance company associated to provider) by proprietary means.</br>

       The provider shall add a resource identified by _requestId_ (as just created) in provider's 
       _Information Service Account_ path _/accounts/v1/exportpackagegeneration/{requestid}_
       to enable reception of notifications about the request.

       The provider shall use the common name of the C.FD.TLS-C certificate (an FQDN), on which the mutual TLS connection is based, 
       as the identification of the requesting health record system in order to enable correct association of the requestor, the 
       _requestid_, and the encryption credentials, e.g for later hsm usage in a subsequent export package preparation.

       The provider shall reject the request if the health record has a pending migration from an epa-2.x health record.


       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist (UNKNOWN) or is in state INITIALIZED | 404 | noHealthRecord | |
       | Health record is in state SUSPENDED or INACCESSIBLE| 409 | statusMismatch | (see 'Retry interval') |
       | Health record with pending epa-2.x migration | 409 | pendingMigration ||
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package preparation is internally requested ||
       | A resource with id _requestId_ is available via path ||

      responses:
        '200':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              examples:
                A new request:
                  value:
                    requestId: '2d4706b4-c29d-4ff6-b827-e06e6d9e2c0b'
              schema:
                type: object
                properties:
                  requestId:
                    $ref: '#/components/schemas/RequestIdType'

        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/exportpackagegeneration/{requestid}:
    parameters:
      - $ref: '#/components/parameters/insurantid'
      - $ref: '#/components/parameters/x-requestid'
      - $ref: '#/components/parameters/requestid'
    delete:
      tags:
        - Relocation (exporting provider)
      operationId: deleteExportPackage
      summary: (deleteExportPackage) Delete export package
      description: |
       Finalizes the relocation process and requests deletion of an existing export package 
       after successful relocation to a new health record provider.

       **Client**  
       The client (importing health record system) shall always invoke this operation after the 
       export package has been successfully downloaded and the data import completed.

       This confirms the successful transfer of data and record responsibility to the new provider to 
       the exporting provider and completes the transfer request.

       The client shall receive a 'successful operation' response ('204') from this operation 
       **before** it proceeds with the final conflict check (_getHealthRecordState_) and an activation 
       of the imported health record.

       **Provider**  
       The export package shall be deleted and the associated download url shall no longer be 
       valid.
       Deletion shall only succeed in case the associated Health record is in state SUSPENDED. 
        
       The information about successful relocation to the requesting health record provider
       shall be passed to the responsible actors (insurance company associated to provider) by proprietary means
       for subsequent deletion of the orphaned health record.

       Sending a 'successful operation' response definitively completes the relocation process.  
       The health record on the exporting provider’s side must **not** be reactivated thereafter
       (i.e., its state must never return to ACTIVATED under any circumstances).

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist (UNKNOWN) or is in state INITIALIZED | 404 | noHealthRecord | |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Health record is not in state SUSPENDED | 409 | statusMismatch |i.e. is in state ACTIVATED or INACCESSIBLE |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package and requestId deleted ||

      responses:
        '204':
          description: Ok. Export package and requestId deleted
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'

    post:
      tags:
        - Relocation (exporting provider)
      operationId: postExportPackageIncident
      summary: (postExportPackageIncident) Notify export package provider about problems
      description: |
       Notify an export package provider about problems receiving or migrating the package.</br>

       **Client**:</br>
       A client shall always invoke this operation when export package download
       and data migration was not successful, not possible or no longer required. 
        
       **Provider**:</br>
       The information shall be passed to the responsible actors (insurance company associated to provider) 
       by proprietary means to allow suitable reactions required by the actor.

       Incidents shall cause the following behaviour:
       - relocationAborted: 
         - The migration and the export package is no longer required for any requesting provider's reason. The 
        request shall be deleted and the health record shall be set to state ACTIVATED again. A requesting
        provider will issue a complete new request on demand in the future.
       - importFailed:
         - the download of a prepared export package was not possible, not complete or not able to be decrypted.
        The export package provider shall solve the problem and prepare a corrected package version. The 
        requesting provider shall be notified about the new package via _putDownloadUrlForExportPackage_. 
        If correction is time consuming, the request may be deleted
        and health record is set back to ACTIVATED. The requesting provider shall be notified about this case
        by a _postPackageDeliveryIncident_ operation call.
       - packageCorrupt:
         - the package content was not understood, of wrong structure or malformed. A corrected package
        shall be deployed as for incident _importFailed_. 
       - urlNotReceived
         - The export package generation is successfully started but download url has not been received yet. 
         Download-url shall be posted immediately or transfer shall be aborted,
         including notification by a _postPackageDeliveryIncident_ operation call.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist (UNKNOWN) or is in state INITIALIZED | 404 | noHealthRecord | |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download failed:
                value:
                  'importFailed'
              Package corrupt:
                value:
                  'packageCorrupt'
            schema:
              description: |
               An incident about reception and migration of an export package:
                - 'relocationAborted' : export package not required now (request will be restarted after clarification)
                - 'importFailed' : download not possible (no content, not complete, decryption error)
                - 'packageCorrupt' : package not processable (corrupt or content structure unknown)
                - 'urlNotReceived' : url not received 
              type: string
              enum:
                - 'relocationAborted'
                - 'importFailed'
                - 'packageCorrupt'
                - 'urlNotReceived'
      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/exportpackagedelivery:
    post:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
      tags:
        - Relocation (importing provider)
      operationId: putDownloadUrlForExportPackage
      summary: (putDownloadUrlForExportPackage) Provide url to prepared export package for download
      description: |
       Provide url to prepared export package for download.

       **Client**:</br>
       A client shall invoke this operation when an export package is available and has valid
       download url (i.e. package is ready for instant download).

       **Provider**:</br>
       The provider shall add a resource identified by _requestId_ in provider's 
       _Information Service Account_ path _/accounts/v1/exportpackagedelivery/{requestid}_
       to enable reception of notifications about the request  
       
       An unknown _requestId_ shall be rejected, i.e. if a request was not initialized using _startRelocation_
       
       The export package download shall be initialized by passing _downloadurl_ and
       _requestId_ to the responsible actors (insurance company associated to provider) by proprietary means.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestId_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package download is internally requested ||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download ready:
                value:
                  requestId: '3dc69bad-6711-4983-b42c-5834f569c6ec'
                  downloadurl: 'http://example.com'
            schema:
              type: object
              properties:
                requestId:
                  $ref: '#/components/schemas/RequestIdType'
                downloadurl:
                  $ref: '#/components/schemas/UrlType'

      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/exportpackagedelivery/{requestid}:
    post:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
        - $ref: '#/components/parameters/requestid'
      tags:
        - Relocation (importing provider)
      operationId: postPackageDeliveryIncident
      summary: (postPackageDeliveryIncident) Notify export package requestor about problems
      description: |
       Notify an export package requestor about relocation rejection or problems preparing the export package.</br>

       **Client**:</br>
       A client shall always invoke this operation when export package provision is not possible 
       or significantly delayed.
        
       **Provider**:</br>
       The information shall be passed to the responsible actors (insurance company associated to provider) 
       by proprietary means to allow suitable reactions required by the actor.

       Incidents shall cause the following behaviour:
        - noRelocationConfirmation
          - The notification about successful relocation or about incidents has not been received yet.
          Request will be closed with (re-)activation of not transferred health record.
       - relocationAborted:
         - Export package can not (no longer) be provided (severe technical reason or repeated missing relocation confirmation). 
         Request will be closed with (re-)activation of not transferred health record.
       - relocationRejected:
         - Export package will not be provided for business reasons. The whole request is rejected by exporting provider.   

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally ||
       | Request aborted ||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Export package generation waiting for bugfix:
                value:
                  'noRelocationConfirmation'
            schema:
              description: |
               An incident about request of an export package:
                - 'noRelocationConfirmation' : waiting for relocation confirmation (any result).
                - 'relocationAborted' : can not provide export package, relocation aborted. Retry of request recommended
                - 'relocationRejected' : will not provide export package for business reasons, relocation rejected and transaction (relocation) aborted.
              type: string
              enum:
                - 'noRelocationConfirmation'
                - 'relocationAborted'
                - 'relocationRejected'

      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

# --- operations for exchange of a merge package ---

  /information/api/v1/accounts/mergepackagegeneration:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
      tags:
        - Merge (merge provider)
      operationId: startMerge
      summary: (startMerge) Initiate merge package preparation for download
      description: |
       Starts a new health record merge process and initiates the preparation of a merge package 
       of an existing health record addressed by _insurantid_. A _requestId_ for process reference is returned.

       The 'Merge Provider' and the 'Merge' side responsible actors shall negotiate the merge proccess in advance 
       and set the health record on merge provider side to state INACCESSIBLE with sole reason 'ready for merge' as 
       preparation for the merge process. 

       **Client**  
       A client shall use this operation when a health record of an insurant hosted by another health 
       record system shall be integrated into the local (hosted by client) health record of the insurant.

       A client shall monitor the started process and react on incidents received via _postMergePackageDeliveryIncident_.
       A client shall also monitor the notification about a prepared merge package for download via _putDownloadUrlForMergePackage_. 
       If no url is available after a suitable waiting period, a request for url propagation shall be issued using 
       _urlNotReceived_ via _postMergePackageIncident_.

       **Provider**  
       Creates a _requestId_ to identify the merge process among the following operations. The addressed 
       health record shall exist and have the state INACCESSIBLE with sole reason 'ready for merge' for
       package preparation.  
       
       The provider shall add a resource identified by _requestId_ (as just created) in provider's 
       _Information Service Account_ path _/accounts/v1/mergepackagegeneration/{requestid}_
       to enable reception of notifications about this particular request.      
       
       The health record merge package generation shall be initialized by passing the _requestId_ and _insurantId_
       to the responsible actor (insurance company associated to provider) by proprietary means.

       The provider shall use the common name of the C.FD.TLS-C certificate (an FQDN), on which the mutual TLS connection is based, 
       as the identification of the requesting health record system in order to enable correct association of the requestor, the 
       _requestid_, and the encryption credentials, e.g for later hsm usage in a subsequent merge package preparation.       

       The reponsible actor thereafter is in charge to: 
       - accept the merge request and trigger merge package generation using operation _startPackageCreationForMerge_ 
       (I_Health_Record_Relocation_Service) or
       - reject the merge request and terminate the process using _postMergePackageDeliveryIncident_ with 
       _mergeAborted_ incident (this interface).


       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist (UNKNOWN) or is in state INITIALIZED | 404 | noHealthRecord | |
       | Health record is not in state INACCESSIBLE with sole reason 'ready for merge' | 409 | statusMismatch | 
       also if state is INACCESSIBLE with another or additional reason than 'ready for a merge' |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Merge package preparation is internally requested ||
       | A resource with id _requestId_ is available via path ||

      responses:
        '200':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              examples:
                A new request:
                  value:
                    requestId: '2d4706b4-c29d-4ff6-b827-e06e6d9e2c0b'
              schema:
                type: object
                properties:
                  requestId:
                    $ref: '#/components/schemas/RequestIdType'

        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/mergepackagegeneration/{requestid}:
    parameters:
      - $ref: '#/components/parameters/insurantid'
      - $ref: '#/components/parameters/x-requestid'
      - $ref: '#/components/parameters/requestid'
    delete:
      tags:
        - Merge (merge provider)
      operationId: finalizeMerge
      summary: (finalizeMerge) confirms the completion of a merge session
      description: |
       Finalizes the merge process and requests deletion of an existing merge package. 

       **Client**  
       The client (merger) shall always invoke this operation after a successful download 
       of a merge package and integration of reveived data via 
       _startPackageImport_ (I_Health_Record_Relocation_Service).

       A merge session is complete once the client has received a success confirmation  
       as response ('204')

       A client shall invalidate _requestId_ and delete the merge package received.

       **Provider**  
       The merge package shall be deleted and the associated download url and the used
       _requestId_ shall no longer be valid.
       
       The information about successful completion of the merge session
       shall be passed to the responsible actor (insurance company associated to provider) by 
       proprietary means for possible subsequent actions (e.g. the subsequent complete deletion of the health record).

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing merge request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Merge package and requestId deleted ||

      responses:
        '204':
          description: Ok. Export package and requestId deleted
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

    post:
      tags:
        - Merge (merge provider)
      operationId: postMergePackageIncident
      summary: (postMergePackageIncident) Notify merge package provider about problems
      description: |
       Notify the merge provider about problems receiving or merging the merge package.</br>

       **Client**:</br>
       A client shall always invoke this operation when merge package download
       or data merging was not successful, not possible or no longer required, i.e. in all cases where
       a once started merge process can not be succesfully completed at all. 

       A client shall invalidate _requestId_ and delete the merge package (if yet downloaded).
        
       **Provider**:</br>
       The information shall be passed to the responsible actors (insurance company associated to provider) 
       by proprietary means to allow subsequent actions.

       Incidents shall cause the following behaviour:
       - mergeAborted: 
         - The merge process is no longer required or can not be completed for any reason on client side (merger). 
         The merge process is terminated early by the client, the merge package shall be deleted and the _requestId_ of the process 
         shall be invalidated. The process can not be resumed - if transfer for merge is still required, a whole 
         new process shall be initialitized by the client.
       - mergeFailed:
         - The download of a prepared merge package was not possible, not complete or not decryptable or does not match _insurantId_.
        The merge package provider shall solve the problem - possibly after consultations about the cause -and prepare a corrected 
        package version. The client (merger) shall be notified about the new package via _putDownloadUrlForMergePackage_. 
        If correction is too time consuming or not applicable, the request may be aborted by the merge provider.
        The client (merger) shall be notified about this case
        by a _mergeAborted_ incident via a _postMergePackageDeliveryIncident_ operation call.
       - mergePackageCorrupt:
         - The package content was not understood, of wrong structure or malformed. A corrected package
        shall be deployed as for incident _importFailed_. 
       - mergeUrlNotReceived
         - The merge package download-url has not been received yet. 
         The download-url shall be posted as soon as possible or transfer shall be aborted,
         including notification by a _postMergePackageDeliveryIncident_ operation call.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing merge request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download failed:
                value:
                  'mergeFailed'
              Package corrupt:
                value:
                  'mergePackageCorrupt'
            schema:
              description: |
               An incident about reception and integration of a merge package:
                - 'mergeAborted' : merge process aborted (request will possibly be restarted after clarification)
                - 'mergeFailed' : download not possible (no content, not complete, decryption error)
                - 'mergePackageCorrupt' : package not processable (corrupt or content structure unknown)
                - 'mergeUrlNotReceived' : url not received 
              type: string
              enum:
                - 'mergeAborted'
                - 'mergeFailed'
                - 'mergePackageCorrupt'
                - 'mergeUrlNotReceived'
      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'


  /information/api/v1/accounts/mergepackagedelivery/{requestid}:
    parameters:
      - $ref: '#/components/parameters/insurantid'
      - $ref: '#/components/parameters/x-requestid'
      - $ref: '#/components/parameters/requestid'
    put:
      tags:
        - Merge (merger)
      operationId: putDownloadUrlForMergePackage
      summary: (putDownloadUrlForMergePackage) Provide url to prepared merge package for download
      description: |
       Provide url to prepared merge package for download.

       **Client**:</br>
       A client shall invoke this operation when a merge package is available and has valid
       download url (i.e. package is ready for instant download).

       **Provider**:</br>
       The received _download-url_ and the associated _requestId_ shall be passed to the 
       responsible actor (insurance company associated to provider) by proprietary means.

       The reponsible actor is thereafter in charge to initialize the data merge itself and call _startPackageMergeImport_
       of I_Health_Record_Relocation_Service for download and merge.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Request unknown (_requestId_ ) | 404 | noResource | no ongoing merge request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package download is internally requested ||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download ready:
                value:
                  downloadurl: 'http://example.com'
            schema:
              type: object
              properties:
                downloadurl:
                  $ref: '#/components/schemas/UrlType'

      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'        
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

    post:
      tags:
        - Merge (merger)
      operationId: postMergePackageDeliveryIncident
      summary: (postMergePackageDeliveryIncident) Notify merge package requestor about problems
      description: |
       Notify a merge package requestor about merge rejection or problems preparing the merge package.</br>

       **Client**:</br>
       A client (merge provider) shall always invoke this operation when merge package provision is not possible, 
       shall be revoked or is significantly delayed or success notification is pending too long, i.e a client either initiates the 
       termination of the merge process due to client side problems or request the completion or even abortion
       carried out by the provider (the _merger_ side).

       A client sending a _mergeAborted_ incident shall invalidate _requestId_, _download-url_ and delete the merge package 
       on client side.
        
       **Provider**:</br>
       The information shall be passed to the responsible actor (insurance company associated to provider) 
       by proprietary means to allow suitable actions of the actor.

       Incidents shall cause the following behaviour:
        - noMergeConfirmation
          - The notification about a successful merge of content or about incidents has not been received yet.
          Request will be terminated after a suitable waiting period.
        - mergeAborted:
          - Merge package can not or no longer be provided (severe technical reason or repeated missing merge confirmation).
          Request shall be terminated, _requestId_ shall be invalidated and a merge package shall be deleted (if any).
        - mergeRejected:
          - Merge package will not be provided for business reasons. The whole request is rejected by exporting provider.   
  
       
       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing merge request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally ||
       | Request aborted | for mergeAborted and mergeRejected |

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Export package generation waiting for bugfix:
                value:
                  'noMergeConfirmation'
            schema:
              description: |
               An incident about request of a merge package:
                - 'noMergeConfirmation' : waiting for merge confirmation.
                - 'mergeAborted' : can not provide merge package or merge aborted. Retry of request recommended
                - 'mergeRejected' : will not provide export package for business reasons, merge rejected and transaction (merge) aborted.
              type: string
              enum:
                - 'noMergeConfirmation'
                - 'mergeAborted'
                - 'mergeRejected'
      responses:
        '204':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'  
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

# --- operations for account check ---

  /information/api/v1/accounts/state:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/x-requestid'
      tags:
        - Account check
      operationId: getHealthRecordState
      summary: (getHealthRecordState) Get the state of a health record.
      description: |
       Find all occurrences of health record states for a particular KVNR among all insurances of a health record provider.

       **Client**  
       A client (a health record system) shall always invoke this operation just before a health 
       record is set to state ACTIVATED to retrieve information about further (conflicting) activations
       of a health record for the same insurant. 
       
       A client shall not set a health record to ACTIVATED in case a conflict situation exists according to A_28686-*.  
      
       If a health record shall be set to ACTIVATED as final step of a health record relocation, a client shall invoke 
       this operation after the successful _deleteExportPackage_ operation.
       
       
       **Provider**  
       Find within the health record system every health record for the requested KVNR (_insurantid_) and determine
       the hosting insurance and its state. 
       The response shall include the states and associated insurance information of all occurrences found. 
       A health record is considered to exist when it has a state other than UNKNOWN (meaning: completely unknown).
       
       Internal or proprieary states used by the health record system (e.g. substates of INACCESSIBLE) shall be mapped in the response 
       to the specified states (specifies states are: INITIALIZED, ACTIVATED, SUSPENDED and INACCESSIBLE).

       
       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | Request does not match schema | 400 | malformedRequest ||
       | No mutual TLS channel used | 403 | accessDenied ||
       | KVNR (insurant) unknown | 404 | noResource | _insurantid_ unknown |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | none ||

      responses:
        '200':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              examples: 
                One suspended record state found:
                  value:
                    records:    
                      - insurance: 'Muster Krankenkasse A' 
                        insuranceId: '123456789'
                        recordState: SUSPENDED                      
                One conflicting record state found:
                  value:
                    records:    
                      - insurance: 'Muster Krankenkasse B'
                        insuranceId: '987654321'
                        recordState: ACTIVATED    
                Multiple and conflicting record state found:
                  value:
                    records:    
                      - insurance: 'Muster Krankenkasse C'
                        insuranceId: '246898642'
                        recordState: INITIALIZED                       
                      - insurance: 'Muster Krankenkasse'
                        insuranceId: '123456789'
                        recordState: SUSPENDED    
              schema:
                description: 'List of all health record occurences associated to _insurantid_ '
                type: object
                properties:
                  records:
                    description: The state(s) and associated insurance information of the health record(s).
                    type: array
                    items:
                      $ref: '#/components/schemas/RecordInformationType'                
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

# --- operations for provider list ---

  /information/api/v1/providerlist:
    parameters:
    - $ref: '#/components/parameters/x-requestid'
    get:
      tags:
        - ProviderList
      operationId: getProviderList
      summary: (getProviderList) get a list of health care providers
      description: |
       Get a list of health care providers and FQDNs of Access Gateways for ePA-FdVs.

       **Client**:</br>
       A client shall invoke this operation for each health record system and collect 
       the received data. A client shall also add it's own list and finally maintain 
       a complete list of insurance company / FQDN entries for user client localization
       requirements.
       A client shall also store each insurance's type (statutory/private) to be able to cater to
       type specific needs.

       **Provider**:</br>
       Prepare a list of all hosted insurances including their FQDNs and type (statutory/private).

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | none ||

      responses:
        '200':
          description: Ok.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/xrequestid'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    insurance:
                      type: string
                      description: name of insurance
                    fqdn:
                      type: string
                      description: FQDN
                    isPrivateInsurance:
                      type: boolean
                      description: indicates the insurance type, private (true) or statutory (false)
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'

components:
  headers:
    xrequestid:
      description: Request identifier as provided by the client.
      schema:
       $ref: '#/components/schemas/RequestIdType'
  parameters:
    insurantid:
      name: x-insurantid
      in: header
      description: Health Record Identifier.
      required: true
      schema:
        $ref: '#/components/schemas/InsurantIdType'
    x-requestid:
      name: X-Request-ID
      in: header
      description: Optional monitoring request identifier
      schema:
        $ref: '#/components/schemas/RequestIdType'
    requestid:
      name: requestid
      in: path
      description: Process request identifier
      required: true
      schema:
        $ref: '#/components/schemas/RequestIdType'

  responses:
    Error400BadRequest:
      description: Bad Request.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/xrequestid'
      content:
        application/json:
          example:
            errorCode: malformedRequest
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error403Forbidden:
      description: Forbidden.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/xrequestid'
      content:
        application/json:
          example:
            errorCode: accessDenied
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error404NotFound:
      description: Not found.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/xrequestid'
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error409Conflict:
      description: Conflict.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/xrequestid'
      content:
        application/json:
          examples:
            statusMismatch:
              value:
                errorCode: statusMismatch
            requestMismatch:
              value:
                errorCode: requestMismatch
            informationMismatch:
              value:
                errorCode: informationMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error500InternalError:
      description: Internal Server Error
      headers:
        X-Request-ID:
          $ref: '#/components/headers/xrequestid'
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  schemas:
    RecordInformationType:
      description: 'State and associated insurance of a health record.'
      type: object
      properties:
        insurance:
          description: The name of the insurance hosting the health record.
          type: string
          example: 'Muster Krankenkasse'
        insuranceId:
          description: The IK-Number of the insurance hosting the health record. 
          type: string
          example: '123456789'  
        recordState:
          description: The state of the health record.  
          type: string
          enum:
            - INITIALIZED
            - ACTIVATED
            - INACCESSIBLE
            - SUSPENDED
      required:
        - insurance
        - recordState
    ConsentType:
      description: 'General consent decision about general health record usage. If generalConsent == _false_, no health record exists.'
      type: object
      properties:
        generalConsent:
          description: The consent decision about general health record usage.
          type: boolean
          example: false
        generalConsentSince:
          description: Timestamp of last consent change
          type: string
          format: date-time
          example: 2025-04-22T14:23:01Z
    UrlType:
      description: An url for the download of a prepared and encrypted export package
      type: string
      format: url
      example: https://example.com
    InsurantIdType:
      description: |-
        The health record identifier. 
        For today the record identifier equals the insurant id (KVNR). The record identifier does not include any home community id.
      type: string
      pattern: '^[A-Z]{1}\d{9}$'
      example: Z123456789
    RequestIdType:
      type: string
      format: uuid
      example: '3dc69bad-6711-4983-b42c-5834f569c6ec'
    ErrorType:
      description: "Error object with additional information about the occurred error"
      type: object
      properties:
        errorCode:
          description: "Error condition specifier"
          type: string
        errorDetail:
          description: "Additional details regarding the error condition"
          type: string
      required:
        - errorCode
