openapi: 3.0.1
info:
  title: I_Information_Service_Accounts
  description: |-
    This interface provides operations for a health record relocation among different Electronic Health Record System providers.<br/>

    **General conditions**:</br> 
    For all operations if applicable:
    - a section _Client_ in operation descriptions covers recommendations (informative) for clients.
    - a section _Provider_ in operation descriptions covers requirements for the server side. 

    **Prerequisites**:</br>
    This interface does not require a VAU channel/ user session or entitlements but a mutual 
    TLS connection instead.

    **Retry interval**:</br>
    Operation responses '409' Conflict and '500' Internal Error indicate temporary states.
    A retry may apply after a suitable period of waiting time. 

  version: 1.0.1

  # version history:
  # ----------------
  # version 1.0.1
  #   - bugfixes
  # version 1.0.0
  #   - first release version
  # version 0.0.1
  #   - initial version for review

  contact:
    name: gematik GmbH
    url: 'http://www.gematik.de'
  
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"

servers:
  - url: https://epa-hst1.prod.epa4all.de/api

tags:
  - name: Accounts (exporting provider)
    description: |
     The _exporting provider_ stands for the insurance company ('**old insurance**') actually hosting the health record 
     of an insurant who changes to a different insurance company ('new insurance').

     The _exporting provider_ is associated to the operations in path _accounts/../exportpackagegeneration_     
     
     Receive requests for preparation of export packages for download and 
     receive relocation result notifications.</br>
     The operations do not involve a VAU or health record access but depends on 
     a mutual authorized TLS connection between health record system providers. 

  - name: Accounts (importing provider)
    description: |
     The _importing provider_ stands for the insurance company ('**new insurance**') an insurant moves to from
     a different insurance company ('old insurance')
      
     The _importing provider_ is associated to the operations in path _accounts/../exportpackagedelivery_     
     
     Receive the url of prepared export packages.</br>
     The operations do not involve a VAU or health record access but depends on 
     a mutual authorized TLS connection between health record system providers. 

  - name: ProviderList
    description: |
     Retrieve list of hosted insurances and FQDNs from other health care systems. 

paths:
  /information/api/v1/accounts/{insurantid}/consent:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
      tags:
        - Accounts (exporting provider)
      operationId: getGeneralConsentDecision
      summary: (getGeneralConsentDecision) Get consent decision regarding objection against principle health record provision.
      description: |
       Check wheter a certain KVNR is known among the insurances of a a health record provider and get 
       the consent decision regarding principle usage of a personal health record.

       **Client**:</br>
       A client (a health record system) shall always and only invoke this operation when a new health 
       record is or shall be created on client side (state == UNKNOWN or INITIALIZED) to retrieve the 
       information about a general objection of the insurant against the provision of a personal Health 
       record.
       This operation shall be used prior invocation of _startRelocation_, i.e. _startRelocation_ shall 
       only be used in case _generalConsent_ is set to _true_.

       **Provider**:</br>
       Indicates in the response the state of the consent decision regarding the principle usage of 
       a personal health record associated to a particular insurant (kvnr).
       The operation should be independent of the presence of a health record associated to 
       the kvnr (_insurantid_).

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | KVNR (insurant) unknown | 404 | noResource | _insurantid_ unknown |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | none ||

      responses:
        '200':
          description: Ok.
          content:
            application/json:
              examples: 
                NoObjectionToUseOfHealthRecord:
                  value:
                    generalConsent: true
                ObjectionToUseOfHealthRecord:
                  value:
                    generalConsent: false
              schema:
                $ref: '#/components/schemas/ConsentType'

        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/{insurantid}/exportpackagegeneration:
    get:
      parameters:
        - $ref: '#/components/parameters/insurantid'
      tags:
        - Accounts (exporting provider)
      operationId: startRelocation
      summary: (startRelocation) Initiate export package preparation for download
      description: |
       Initiates the preparation of an export package in case the requested health record exists and
       returns a requestId for reference.

       **Client**:</br>
       A client shall always and only invoke this operation when a new health record is created on client 
       side (state == INITIALIZED), allowing consideration of a possible required import of 
       existing health record data from different health record providers.</br>

       **Provider**:</br>
       Creates a requestId in case the addressed health record exists and is in state ACTIVATED.
       A health record in state SUSPENDED has an already prepared export package which shall not 
       be created twice.  
      
       The health record export package generation shall be initialized by passing the _requestId_ 
       to the responsible actors (insurance company associated to provider) by proprietary means.</br>

       The provider shall add a resource identified by _requestId_ (as just created) in provider's 
       _Information Service Account_ path _/accounts/v1/{insurantid}/exportpackagegeneration/{requestid}_
       to enable reception of notifications about the request.

       The provider shall reject the request if the health record has a pending migration from an epa-2.x health record.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Health record is not in state ACTIVATED | 409 | statusMismatch ||
       | Health record with pending epa-2.x migration | 409 | pendingMigration ||
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package preparation is internally requested ||
       | A resource with id _requestId_ is available via path ||

      responses:
        '200':
          description: Ok.
          content:
            application/json:
              examples:
                A new request:
                  value:
                    requestId: '2d4706b4-c29d-4ff6-b827-e06e6d9e2c0b'
              schema:
                type: object
                properties:
                  requestId:
                    $ref: '#/components/schemas/RequestIdType'

        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/{insurantid}/exportpackagegeneration/{requestid}:
    parameters:
      - $ref: '#/components/parameters/insurantid'
      - $ref: '#/components/parameters/requestid'
    delete:
      tags:
        - Accounts (exporting provider)
      operationId: deleteExportPackage
      summary: (deleteExportPackage) Delete export package
      description: |
       Request to delete an existing export package after successful relocation to
       a new health record provider 

       **Client**:</br>
       A client shall always invoke this operation when export package download
       and data migration was successful. 
        
       **Provider**:</br>
       The export package shall be deleted and the associated download url shall no longer be 
       valid.
       Deletion shall only succeed in case the associated health record is in state SUSPENDED. 
        
       The information about successful relocation to the requesting health record provider
       shall be passed to the responsible actors (insurance company associated to provider) by proprietary means
       for subsequent deletion of the orphaned health record.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 204 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Health record is not in state SUSPENDED | 409 | statusMismatch ||
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package and requestId deleted ||

      responses:
        '204':
          description: Ok. Export package and requestId deleted
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '500':
          $ref: '#/components/responses/Error500InternalError'

    post:
      tags:
        - Accounts (exporting provider)
      operationId: postExportPackageIncident
      summary: (postExportPackageIncident) Notify export package provider about problems
      description: |
       Notify an export package provider about problems receiving or migrating the package.</br>

       **Client**:</br>
       A client shall always invoke this operation when export package download
       and data migration was not successful, not possible or no longer required. 
        
       **Provider**:</br>
       The information shall be passed to the responsible actors (insurance company associated to provider) 
       by proprietary means to allow suitable reactions required by the actor.

       Incidents shall cause the following behaviour:
       - relocationAborted: 
         - The migration and the export package is no longer required for any requesting provider's reason. The 
        request shall be deleted and the health record shall be set to state ACTIVATED again. A requesting
        provider will issue a complete new request on demand in the future.
       - importFailed:
         - the download of a prepared export package was not possible, not complete or not able to be decrypted.
        The export package provider shall solve the problem and prepare a corrected package version. The 
        requesting provider shall be notified about the new package via _putDownloadUrlForExportPackage_. 
        If correction is time consuming, the request may be deleted
        and health record is set back to ACTIVATED. The requesting provider shall be notified about this case
        by a _postPackageDeliveryIncident_ operation call.
       - packageCorrupt:
         - the package content was not understood, of wrong structure or malformed. A corrected package
        shall be deployed as for incident _importFailed_. 
       - urlNotReceived
         - The export package generation is successfully started but download url has not been received yet. 
         Download-url shall be posted immediately or transfer shall be aborted,
         including notification by a _postPackageDeliveryIncident_ operation call.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download failed:
                value:
                  'importFailed'
              Package corrupt:
                value:
                  'packageCorrupt'
            schema:
              description: |
               An incident about reception and migration of an export package:
                - 'relocationAborted' : export package not required now (request will be restarted after clarification)
                - 'importFailed' : download not possible (no content, not complete, decryption error)
                - 'packageCorrupt' : package not processable (corrupt or content structure unknown)
                - 'urlNotReceived' : url not received 
              type: string
              enum:
                - 'relocationAborted'
                - 'importFailed'
                - 'packageCorrupt'
                - 'urlNotReceived'
              #  - 'success'          suggestion for a possible alternative to the delete operation
      responses:
        '200':
          description: Ok.
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'


  /information/api/v1/accounts/{insurantid}/exportpackagedelivery:
    post:
      parameters:
        - $ref: '#/components/parameters/insurantid'
      tags:
        - Accounts (importing provider)
      operationId: putDownloadUrlForExportPackage
      summary: (putDownloadUrlForExportPackage) Provide url to prepared export package for download
      description: |
       Provide url to prepared export package for download.

       **Client**:</br>
       A client shall invoke this operation when an export package is available and has valid
       download url (i.e. package is ready for instant download).

       **Provider**:</br>
       The provider shall add a resource identified by _requestId_ in provider's 
       _Information Service Account_ path _/accounts/v1/{insurantid}/exportpackagedelivery/{requestid}_
       to enable reception of notifications about the request  
       
       An unknown _requestId_ shall be rejected, i.e. if a request was not initialized using _startRelocation_
       
       The export package download shall be initialized by passing _downloadurl_ and
       _requestId_ to the responsible actors (insurance company associated to provider) by proprietary means.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestId_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Export package download is internally requested ||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Download ready:
                value:
                  requestId: '3dc69bad-6711-4983-b42c-5834f569c6ec'
                  downloadurl: 'http://example.com'
            schema:
              type: object
              properties:
                requestId:
                  $ref: '#/components/schemas/RequestIdType'
                downloadurl:
                  $ref: '#/components/schemas/UrlType'

      responses:
        '200':
          description: Ok.
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/accounts/{insurantid}/exportpackagedelivery/{requestid}:
    post:
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/requestid'
      tags:
        - Accounts (importing provider)
      operationId: postPackageDeliveryIncident
      summary: (postPackageDeliveryIncident) Notify export package requestor about problems
      description: |
       Notify an export package requestor about problems preparing the export package.</br>

       **Client**:</br>
       A client shall always invoke this operation when export package provision is not possible 
       or significantly delayed.
        
       **Provider**:</br>
       The information shall be passed to the responsible actors (insurance company associated to provider) 
       by proprietary means to allow suitable reactions required by the actor.

       Incidents shall cause the following behaviour:
        - noRelocationConfirmation
          - The notification about successful relocation or about incidents has not been received yet.
          Request will be closed with (re-)activation of not transferred health record.
       - relocationAborted:
         - Export package can not (no longer) be provided (severe reason or repeated missing relocation confirmation).
        Request will be closed with (re-)activation of not transferred health record.
       
       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Health record does not exist | 404 | noHealthRecord | _insurantid_ unknown |
       | Request unknown (_requestid_ ) | 404 | noResource | no ongoing relocation request for this id known |
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | Incident delivered internally ||
       | Request aborted ||

      requestBody:
        required: true
        content:
          application/json:
            examples:
              Export package generation waiting for bugfix:
                value:
                  'noRelocationConfirmation'
            schema:
              description: |
               An incident about request of an export package:
                - 'noRelocationConfirmation' : waiting for relocation confirmation (any result).
                - 'relocationAborted' : can not provide export package, relocation aborted. Retry of request recommended
              type: string
              enum:
                - 'noRelocationConfirmation'
                - 'relocationAborted'

      responses:
        '200':
          description: Ok.
        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '404':
          $ref: "#/components/responses/Error404NotFound"
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /information/api/v1/providerlist:
    get:
      tags:
        - ProviderList
      operationId: getProviderList
      summary: (getProviderList) get a list of health care providers
      description: |
       Get a list of health care providers and FQDNs of Access Gateways for ePA-FdVs.

       **Client**:</br>
       A client shall invoke this operation for each health record system and collect 
       the received data. A client shall also add it's own list and finally maintain 
       a complete list of insurance company / FQDN entries for user client localization
       requirements.

       **Provider**:</br>
       Prepare a list of all hosted insurances including their FQDNs.

       | Conditions | Status code | Error code | Remarks |
       |------------|-------------|------------|---------|
       | Successful operation | 200 |||
       | No mutual TLS channel used | 403 | accessDenied ||
       | Any other error | 500 | internalError ||

       </br>
       | Postconditions                        | Remarks |
       |---------------------------------------|---------|
       | none ||

      responses:
        '200':
          description: Ok.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    insurance:
                      type: string
                      description: name of insurance
                    fqdn:
                      type: string
                      description: FQDN

        '403':
          $ref: '#/components/responses/Error403Forbidden'
        '500':
          $ref: '#/components/responses/Error500InternalError'

components:
  parameters:
    insurantid:
      name: insurantid
      in: path
      description: Health Record Identifier.
      required: true
      schema:
        $ref: '#/components/schemas/InsurantIdType'
    requestid:
      name: requestid
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/RequestIdType'

  responses:
    Error403Forbidden:
      description: Forbidden.
      content:
        application/json:
          example:
            errorCode: accessDenied
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error404NotFound:
      description: Not found.
      content:
        application/json:
          example:
            errorCode: noResource
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error409Conflict:
      description: Conflict.
      content:
        application/json:
          examples:
            statusMismatch:
              value:
                errorCode: statusMismatch
            requestMismatch:
              value:
                errorCode: requestMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error500InternalError:
      description: Internal Server Error
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'

  schemas:
    ConsentType:
      description: General consent decision information
      type: object
      properties:
        generalConsent:
          description: Consent decision about general health record usage. If _false_, no health record exists.
          type: boolean
          example: false
    RequestIdType:
      description: A unique relocation request id
      type: string
      format: uuid
      example: '3dc69bad-6711-4983-b42c-5834f569c6ec'
    UrlType:
      description: An url for the download of a prepared and encrypted export package
      type: string
      format: url
      example: https://example.com
    InsurantIdType:
      description: |-
        The health record identifier. 
        For today the record identifier equals the insurant id (KVNR). The record identifier does not include any home community id.
      type: string
      pattern: '^[A-Z]{1}\d{9}$'
      example: Z123456789
    ErrorType:
      description: "Error object with additional information about the occurred error"
      type: object
      properties:
        errorCode:
          description: "Error condition specifier"
          type: string
        errorDetail:
          description: "Additional details regarding the error condition"
          type: string
      required:
        - errorCode
